<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TicTacToe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A2535F9C1EC4EFA100F5DE91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2535FB01EC4EFA100F5DE91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2535FBB1EC4EFA100F5DE91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
